.main{
   grid-area: ma;
   padding: 4% 0;
   border-bottom: 1px dashed var(--fac--white-modal);

   &__container{
      width: 80%;
      height: 95%;
      overflow-x: scroll;
      margin: auto;
      padding: 10px;
      background-color: tomato;
   }
   
}