.main{
   grid-area: ma;
   padding: 4% 0;
   border-bottom: 1px dashed var(--fac--white-modal);

   &__container{
      width: 90%;
      height: 95%;
      overflow-x: scroll;
      margin: auto;
      padding: 10px;
   }
   &__container{
      border-radius: 15px;
      box-shadow: 0 0 15px 0 rgba(0 0 0 / .5);
   }

   @media (min-width: 768px) {
      border-bottom: none;
   }
   
}