.player{
   grid-area: pl;
   text-align: center;
   color: var(--fac--white);
   border-top: 1px dashed var(--fac--white-modal);

   &__splash,
   &__subtitle{
      display: none;
   }
   &__title{
      margin-top: 10px;
      font-family: 'bold';
      font-size: 1rem;
      color: var(--fac--white);
      text-transform: uppercase;
   }
   &__previous{
      font-family: 'regular';
      font-size: .8rem;
      text-align: right;
      margin-right: 20px;
   }
   audio{
      margin-top: 10px;
      width: 90%;
      height: 40px;
   }
   audio::-webkit-media-controls-panel {
      background-color: var(--fac--black-modal);
    }

   @media (min-width: 768px) {
      &{
         display: flex;
         align-items: center;
         justify-content: center;
         padding-top: 10px;
         border-bottom: none;
         border-top: none;
         border-left: 1px dashed var(--fac--white-modal);
      }
      &__splash,
      &__subtitle{
         display: block;
      }
      &__title{
         font-size: 1.5rem;
      }
      &__wrapp{
         width: 85%;
         margin: auto;
         padding: 15px 5px;
         border-radius: 15px;
         box-shadow: 0 0 15px 0 rgb(0 0 0 / .5);
      }
      &__splash{
         max-width: 90%;
         margin: auto;
      }
      &__subtitle{
         margin-top: 10px;
         font-family: 'italic';
         font-size: 1rem;
         text-transform: uppercase;
      }
   }
   
}