.player{
   grid-area: pl;
   text-align: center;
   border-top: 1px dashed var(--fac--white-modal);

   &__splash,
   &__subtitle{
      display: none;
   }
   &__title{
      margin-top: 10px;
      font-family: 'bold';
      font-size: 1rem;
      color: var(--fac--white);
      text-transform: uppercase;
   }
   audio{
      margin-top: 10px;
      width: 90%;
      height: 40px;
   }
   /*
   padding: 10px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--fac--white);
   text-align: center;
   overflow-y: scroll;
   border-bottom: 1px dashed var(--fac--white-modal);
   background-color: var(--fac--red);
   
   &__wrapp{
      width: 80%;
      margin: auto;
   }
   &__splash{
      max-width: 90%;
      margin: auto;
   }
   &__subtitle{
      margin-top: 10px;
      font-family: 'italic';
      font-size: .8rem;
      text-transform: uppercase;
   }*/

   @media (min-width: 768px) {
      &{
         padding-top: 10px;
         border-bottom: none;
         border-left: 1px dashed var(--fac--white-modal);
      }
   }
   
}