.wrapp{
   width: 100vw;
   height: 100vh;
   background-color: var(--fac--red);

   display: grid;
   grid-template-rows: 80px 55vh auto auto;
   grid-template-areas: 
   "he"
   "ma"
   "mt"
   "pl";

   @media(min-width: 768px) {
      &{
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: 10% repeat(4, 1fr) 10%;
         grid-template-areas: 
         "he he he he he he"
         "ma ma ma ma pl pl"
         "ma ma ma ma pl pl"
         "ma ma ma ma pl pl"
         "ma ma ma ma pl pl"
         "ma ma ma ma pl pl"
         "ma ma ma ma pl pl"
         "mt mt mt mt mt mt";
      }
   }
}